@use "tokens";
@use "sass:map";

$color_charcoal: map.get(tokens.$tokens, "rochester", "color", "secondary", "charcoal", "$value");
$color_interactive_blue: map.get(tokens.$tokens, "rochester", "color", "primary", "interactiveBlue", "$value");
$color_rochester_blue: map.get(tokens.$tokens, "rochester", "color", "primary", "rochesterBlue", "$value");
$color_darker_gray: map.get(tokens.$tokens, "rochester", "color", "secondary", "darkerGray", "$value");
$color_light_gray: map.get(tokens.$tokens, "rochester", "color", "secondary", "lightGray", "$value");
$color_lighter_gray: map.get(tokens.$tokens, "rochester", "color", "secondary", "lighterGray", "$value");
$color_dark_gray: map.get(tokens.$tokens, "rochester", "color", "secondary", "darkGray", "$value");
$color_medium_gray: map.get(tokens.$tokens, "rochester", "color", "secondary", "mediumGray", "$value");
$color_dandelion: map.get(tokens.$tokens, "rochester", "color", "primary", "dandelionYellow", "$value");
$color_white: map.get(tokens.$tokens, "rochester", "color", "secondary", "white", "$value");
$background-transparent: transparent;
$color_black: #000;
$background-color_9: rgba(0, 0, 0, 0.6);
$background-color_8: rgba(255, 255, 255, 0.7);
$background-color_10: rgba(255, 255, 255, 0.85);
$background-color_11: rgba(33, 33, 33, 0.5);

$font_awesome: "Font Awesome 6 Pro";
$font_proxima: "proxima-nova", "Helvetica Neue", sans-serif;

$font-size-base: 1rem;
$image-max-width: 80px;
$image-max-height: 120px;
$snippet-padding-desktop: 90px;
$snippet-padding-mobile: 110px;
$cell-padding: 1px;
$breakpoint-mobile: 768.98px;