// @use "../node_modules/@univmarcomm/rochester-design-tokens/tokens/tokens.scss";
@use "../_variables" as *;
@use "sass:map";



@mixin button-style($bg-color, $text-color, $hover-bg-color, $hover-text-color) {
    display: block;
    background: $bg-color;
    color: $text-color;
    text-decoration: none;
    font-weight: 900;
    transition: 0.25s cubic-bezier(.66, -.39, .41, 1.35);

    &:hover {
        background: $hover-bg-color;
        color: $hover-text-color;
    }
}

@mixin icon-after($content, $color, $font-family) {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
    font-family: $font-family;
    font-weight: 900;
    content: $content;
    opacity: 0;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*********************************** PRIMARY MENU ***************************************************/
.primary-menu-white,
.request-info-btn {
    display: none;
}

.hamburger-box {
    display: block;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0 !important;

    &-light .navbar-toggler {
        border: none;
        margin-right: 1rem;
    }
}

.primary-menu-white-mobile {
    display: flex;
}

.navbar-brand {
    font-size: inherit !important;

    .header-logo {
        padding: 0.5rem 1rem;
    }
}

.btn-search {
    @include button-style($color_white, $color_interactive_blue, $color_interactive_blue, $color_white);
    width: 2.75rem;
    height: 2.75rem;
    border: none;
}


.gsc-control-cse {
  font-size: $font-size-base;

  .gsc-table-result {
    font-size: $font-size-base;
  }

  .gs-web-image-box {
    .gs-image {
      max-width: $image-max-width;
      max-height: $image-max-height;
    }
  }

  .gs-promotion-image-box {
    .gs-promotion-image {
      max-width: $image-max-width;
      max-height: $image-max-height;
    }
  }

  .gsc-table-cell-snippet-close {
    padding: $cell-padding;
  }
}
.gsc-search-button-v2 {
  padding: 10px 27px;
}

@media (max-width: $breakpoint-mobile) {
    .gsc-table-cell-snippet-close {
      padding: $cell-padding;
    }
  }
}


.navbar-toggler {
    border: none;
    padding: 0 0 0 0.75rem !important;

    &:focus {
        box-shadow: none;
    }

    span {
        display: block;
        background-color: $color_interactive_blue;
        height: 3px;
        width: 25px;
        margin: 5px 0;
        transition: all 0.35s ease-out;
        transform-origin: center left;
    }
}

.navbar-toggler:not(.collapsed) {
    span:nth-child(1) {
        transform: translate(15%, -33%) rotate(45deg);
    }

    span:nth-child(2) {
        opacity: 0;
    }

    span:nth-child(3) {
        transform: translate(15%, 33%) rotate(-45deg);
    }
}

.header-logo {
    width: 10rem;
    display: inline-block;
}

#main-menu {

    .primary-menu-items .nav-item .nav-link,
    .primary-action-items .nav-item .nav-link {
        font-size: 1rem !important;
        min-height: 2.75rem;
    }

    .navbar-nav .nav-link {
        color: inherit;
        text-transform: uppercase;
    }

    .primary-menu-items {
        padding: 0 1.5rem;
    }
    
    .primary-action-items {
        padding: 0 0.75rem;
    }

    .dropdown-item {
        color: #707070 !important;
        padding: 0.5rem 1rem;
        font-weight: 600;
    }

    .dropdown-menu {
        padding: 0;
        background-clip: padding-box;
        border: 1px solid transparent;
        border-radius: 0;
        margin-top: 1rem !important;
    }

    .btn-primary-menu {
        display: flex;
        padding: 0 1.25rem;
        font-size: 1rem;
        font-weight: 700;
        color: #fff;
        background-color: $color_interactive_blue;
        margin-bottom: 2px;
        border: 1px solid $color_interactive_blue;
        cursor: pointer;

        &:hover{
            color: #283faf !important;
            background-color: #fff !important;
        }
}

}

.menu-info-for .menu-info-for-item {
    border: none !important;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 20px;
    cursor: pointer;

    &:hover {
        background-color: $color_rochester_blue;
    }
}


/*******************************************************SECONDARY MENU********************************************/
.title-row {
    display: none;
}

.title-text {
    color: $color_white;
    font-size: 2rem;
    font-weight: 700;

    a {
        min-height: 2.75rem;
    }
}

.nav-secondary {
    .dropdown:hover .nav-link {
        color: $color_charcoal;
    }

    .nav-item {
        font-size: 1.2rem;
        cursor: pointer;
        font-weight: 700;
    }

    .navbar-nav {
        .nav-item:not(:last-child) {
            border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
        }
    }

    .navbar-nav li>.gg-chevron-down::after {
        margin-left: auto;
        margin-right: 1rem;
        width: 8.5px;
        height: 8.5px;
        top: 0.5rem;
        bottom: 0;
    }
}

.secondary-menu-mobile {
    display: block !important;
}

.nav-secondary-desktop {
    display: none;
}

.nav-secondary-mobile {
    margin-top: 1.5rem;

    .navbar-nav {
        .dropdown-mega .dropdown-menu {
            background-color: $color_rochester_blue !important;
        }

        .nav-link {
            text-transform: capitalize !important;
            color: $color_white !important;
        }
    }

    .list-group {
        .list-group-item {
            background-color: $color_rochester_blue !important;
            color: $color_white;
        }
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba($color_white, 1);
}

.nav-item.dropdown.dropdown-mega .dropdown-menu {
    min-width: auto;
    top: auto;
    border: none;
    border-radius: unset;
    margin-top: 0;
    z-index: 10000;
}

.dropdown.dropdown-mega .shadow {
    box-shadow: 0 10px 10px rgba($color_black, 0.2) !important;
}

.gg-chevron-down {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));

    &::after {
        content: "";
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        width: 8.5px;
        height: 8.5px;
        border-bottom: 2.5px solid;
        border-right: 2.5px solid;
        transform: rotate(45deg);
        top: 0.5rem;
        left: 13px;
        color: silver;
    }

    &[aria-expanded="true"]::after {
        transform: rotate(225deg);
        top: 0.8rem !important;
    }
}

.link-section {
    padding-left: 20px;
    border-right: 1px solid $color_lighter_gray;
    z-index: 1;

    &:last-child {
        border-right: none;
        padding-bottom: 0;
    }
}

.list-group {
    display: block;
    width: 100%;
    text-align: left;
    font-size: .875rem;
    font-weight: 600;
    color: $color_white;
    padding-right: 3rem;

    p {
        display: flex;
        width: 100%;
        padding-top: 0.5rem;
        opacity: 0.7;

        &:after {
            border-bottom: 1px dashed $color_white;
            content: "";
            flex: 1;
            margin-left: 10px;
            top: -10px;
            position: relative;
        }
    }
}

.list-group-item-mobile:hover {
    color: $color_white;
}

.list-group-item {
    border: none;
}

.link-section {
    border-right: none;
}

/************** HEADER TERTIARY ***************/
.home-menu-tertiary {
    display: none;

    .nav-tertiary {
        li {
            a {
                font-size: 0.7rem !important;
                color: $color_black !important;
                text-transform: uppercase;
                font-weight: 600;
                padding-top: 0.2rem;
                padding-bottom: 0.2rem;
            }
        }

        .navbar-nav .nav-link {
            min-height: 2.75rem;
            padding-top: 0.85rem;
            padding-right: 1.5rem;
        }
    }
}

.border-nav-bottom {
    border-bottom: 1px solid $color_medium_gray;
}

/************** MODAL SEARCH ***************/
.modal {
    top: 4.375rem !important;

    &-header {
        display: block !important;
        padding: 1rem 1.25rem;
        border: none;

        .btn-close {
            padding: 0.5rem 0.625rem;
            margin: -0.5rem -0.625rem -0.5rem auto;
        }
    }

    &-body {
        padding: 1.25rem;
    }

    &-backdrop.show {
        opacity: 0.9;
    }

    &-links-menu {
        .li a {
            font-weight: 900;
            font-size: 1.15rem;
            opacity: 0.75;
            transition: 0.3s;
        }
    }

    &.fade .modal-dialog {
        transition: transform 0.2s ease-out;
        transform: scale(0.9);
    }

    &-content {
        background-color: $background-transparent;
        border: none;
        box-shadow: none;
    }

    .btn-blue-search {
        @include button-style($color_interactive_blue, $color_white, $color_interactive_blue, $color_white);
        border-radius: 0 !important;
        padding: 0 35px 0 55px;
        display: inline;

        &:hover {
            color: $color_white !important;
        }
        .header__search--icon2 {
            display: block;
            color: #fff;
            width: 1.2rem;
            position: absolute;
            top: 20px;
            left: 22px;
        }
    }

    .btn-search--close {
        @include button-style($color_white, $color_interactive_blue, $color_interactive_blue, $color_white);
        border-color: $color_interactive_blue;
        height: 53px;
        width: 53px;
        margin-top: 8px;
        border-width: 3px;
        float: right;

        &:hover {
            color: $color_white;
            background-color: $color_interactive_blue;
            border-color: $color_white;
            border-width: 3px;
        }
    }
    .form-control::placeholder {
        color: silver;
        opacity: 1;
        background: #8788832e;
        font-weight: 700;
        letter-spacing: 0.01563rem;
   }
}


/************************ SCROLLTOP ******************************/


.scrolltop-wrap {
    box-sizing: border-box;
    position: absolute;
    top: 12rem;
    right: 0.5rem;
    bottom: -50rem;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 100;

    a {
        position: sticky;
        top: -5rem;
        width: 4rem;
        height: 4rem;
        transform: translateY(100vh);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: inline-block;
        text-decoration: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: all;
        outline: none;
        overflow: hidden;

        svg {
            display: block;
            border-radius: 50%;
            width: 100%;
            height: 100%;

            path {
                transition: all 0.1s;
            }
        }
    }

    .btn-top {
        color: $color_interactive_blue;
        background-color: $color_white;
        border: solid $color_interactive_blue 2px;
        box-shadow: none;
        border-width: 2px;
        height: 45px;
        width: 45px;

        &:hover {
            color: $color_white;
            background-color: $color_interactive_blue;
            border-width: 2px;
        }
    }

    .content__top-icon {
        display: block;
        font-size: 1.56rem;
    }

    .screen-reader-text {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}

/********************************************FOOTER*******************************************************/

.footer-btn-section  {
    .footer-btn{
    display: flex;
    padding: 0 1.25rem;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: $color_interactive_blue;
    margin-bottom: 2px;
    border: 1px solid $color_interactive_blue;
    cursor: pointer;

    &:hover{
        color: $color_interactive_blue;
        background-color: $color_white;
    }
    }
}

.footer-links {
    .nav-item {
      .nav-link {
        display: block;
        font-family: $font_proxima;
        color: rgba(255, 255, 255, 0.65);
        font-weight: 700;
        font-size: 1rem;
        width: fit-content;
        padding: 2px 0;
        transition: 0.2s;
        min-width: 2.75rem;
  
        &:hover {
          color: $color_white;
          text-decoration: underline;
        }
      }
    }
  
    .info {
      .nav-item {
        .info-link {
          color: $color_white;
          padding-bottom: 0.5rem;
  
          &:hover {
            color: $color_white !important;
            text-decoration: underline !important;
          }
        }
      }
    }
  }
  
  .social {
    background: $color_rochester_blue;
    padding-bottom: 2rem;
    padding-top: 1.5rem;
  
    &--icons {
      flex-basis: 100%;
      text-align: center;
      display: inline-flex;
      justify-content: center;
      flex-direction: column;
  
      .social-title {
        font-family: $font_proxima;
        color: $color_white;
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
      }
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          display: inline-block;
          margin: 0 2px;
  
          a {
            font-size: 1rem;
            border: 3px solid $color_white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: inline-flex;
            text-align: center;
            text-decoration: none;
            justify-content: center;
            flex-direction: column;
            position: relative;
            transition: 0.3s;
  
            &::after {
              content: '';
              width: 100%;
              height: 100%;
              background: $color_white;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 50%;
              transform: scale(0);
              transition: 0.4s;
              z-index: 1;
            }
  
  
            i {
              color: $color_white;
              transition: 0.3s;
              position: relative;
              top: 1px;
              z-index: 2;
            }
  
            &:hover {
              &::after {
                transform: scale(1.1);
              }
  
              i {
                color: $color_rochester_blue;
              }
            }
          }
        }
      }
    }
  }
  
  .footer-link-blue {
    background: $color_interactive_blue;
    color: $color_white;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
  
    &:hover {
      color: $color_white;
      text-decoration: underline;
      transition: 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    }
  }

/************** MEDIA QUERIES **************/

@media print {
    .scrolltop-wrap {
        display: none !important;
    }
}

@media (prefers-reduced-motion: reduce) {
    .list-group-item {
        transition: none;
    }
}

@supports (-moz-appearance: meterbar) {
    .scrolltop-wrap {
        clip: rect(0, 4rem, auto, 0);
    }
}

@media (max-width: 767.98px) {
    .scrolltop-wrap {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .footer-links {
      .border-start {
        border-left: none !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25) !important;
      }
    }
  
    .footer-bottom {
      div {
        display: block !important;
        text-align: center;
      }
  
      .footer-link-blue {
        width: 50%;
      }
    }
  
    .juicer-feed {
      display: none;
    }
  }

  @media (min-width: 992px) {

    .social--icons {
        flex-basis: 30%;
        padding: 0;
   }

    .primary-menu-white-mobile {
        display: none;
    }

    .primary-menu-white {
        display: flex;
    }

    #main-menu {

        .navbar-nav {

            .menu-info-for {
                margin-top: 0;
            }
    
            .menu-info-for-desktop {
            display: inline-block;
        }
    
            .menu-info-for-mobile {
            display: none;
        }
    
            &:last-child:last-child {
            margin-bottom: 0rem;
        }
        }

     .navbar-nav .nav-link {
            font-size: 0.8125rem;
        }
    
        .primary-menu-items {
            padding: 0;

         .dropdown-menu[data-bs-popper] {
            left: -15% !important;
        }
    }
    .primary-action-items .nav-item .nav-link {
        font-size: 12px !important;
        padding: 0.65rem 0.3rem !important;
        font-size: 0.8125rem;
    }

        .primary-menu-items .nav-item .nav-link,
        .primary-action-items .nav-item .nav-link {
            font-size: 0.85rem !important;
        }

        .nav-action span {
            display: inline-block;
            position: relative;
            white-space: nowrap;
        

             &::after {
                background: $color_interactive_blue;
                bottom: -2px;
                content: "\0a0";
                display: inline-block;
                height: 2px;
                position: absolute;
                right: 0;
                left: 0;
                transform: scaleX(0);
                transform-origin: left center;
                transition: transform 0.3s cubic-bezier(.45, .05, .55, .95) 50ms;
                width: 100%;
                z-index: 1000;
            }
        }

        .active {
            span {
              &::after {
                transform: scaleX(1);
              }
            }
          }
          
       
            .active {
              span {
                &::after {
                  transform: scaleX(1);
                }
              }
            }
          

        .nav-action {
            &:focus {
              span {
                &::after {
                  transform: scaleX(1);
                  z-index: 1000;
                }
              }
            }
          }
          
      
            .nav-action {
              &:hover {
                span {
                  &::after {
                    transform: scaleX(1);
                    z-index: 1000;
                  }
                }
              }
            }
          

        .btn-primary-menu {
            font-size: 12px !important;
            text-transform: uppercase;
            padding: 0 0.4rem;
            font-weight: 700;
            color: $color_charcoal;
            background-color: $color_white;
            margin-bottom: 0px;
            border: none;
            white-space: nowrap;
        }

        .btn-primary-menu i {
            display: none;
        }
    }

    .nav-secondary {

        padding-right: 1.5rem !important;


        .dropdown:hover .dropdown-menu {
            display: block;

        &.show {
            -webkit-animation: fadeIn 0.3s alternate;
            -moz-animation: fadeIn 0.3s alternate;
            /* Safari 4.0 - 8.0 */
            animation: fadeIn 0.3s alternate;
        }

        &[data-bs-popper] {
            top: 100%;
            left: 0;
            margin-top: 0 !important;
        }

        &[data-popper-placement] {
            top: 100%;
            left: 0;
            margin-top: -2px !important;
        }
    }
        .navbar-nav li:hover {
            background-color: $color_white;
            margin: 0;
        }

        .nav-item {
            font-size: 1.2rem;
            cursor: pointer;
            font-weight: 700;
            border-bottom: none;
        }


        .navbar-nav .nav-link {
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            display: flex;
        }

        .navbar-collapse {
            padding-top: 0rem !important;
            
            .navbar-nav {
            flex-flow: row wrap;
        }
    }
    
    }

    #navSecondary {
        .nav-action{
            &:hover{
                 span{
                    &::after {
           transform: scaleX(1) !important;
           z-index: 10000 !important;
                 }
                }
    }
        }
       .navbar-nav .nav-item:not(:last-child) {
           border-bottom: none;
       }

       .navbar-nav li:hover>.gg-chevron-down::after {
           transform: rotate(225deg);
           transition: 0.2s;
           color: silver;
           top: 0.8rem;
       }
       .mega-content {
           .link-section {
               padding-top: 0 !important;
               width: fit-content;
           }
   
           .list-group p {
               color: $color_black !important;
               display: flex;
               width: 100%;
               padding-top: 0.5rem;
               font-weight: 700;
               font-size: 1rem;
               opacity: 1;
           }
   
           .list-group-item {
               border: none;
               padding: 0.235rem 0;
               font-size: 0.973rem;
               color: #707070;
               font-weight: 600;
               width: max-content;
           }
   
           &:hover {
               color: $color_interactive_blue;
           }
       }
       .nav-item:not(.dropdown) {
           .nav-action span {
             position: relative;
           }
         
           .nav-action span::before {
             content: "\0a0";
             background: $color_interactive_blue;
             position: absolute;
             height: 2px;
             right: 0;
             left: 0;
             bottom: 0;
             transform: scaleX(0);
             transform-origin: left center;
             transition: transform 0.3s cubic-bezier(.45, .05, .55, .95) 50ms;
             z-index: 10000;
           }
         
           &:hover {
             .nav-action span::before {
               transform: scaleX(1);
               z-index: 10000;
             }
           }
         }
         
         .dropdown-menu {
           .nav-action span::after {
             background: $color_interactive_blue;
             bottom: -1px;
             content: "\0a0";
             font-family: $font-awesome;
             display: inline-block;
             height: 2px;
             left: 0;
             position: absolute;
             right: 0;
             transform: scaleX(0);
             transform-origin: left center;
             transition: transform 0.3s cubic-bezier(.45, .05, .55, .95) 50ms;
             width: 100%;
             z-index: 1000;
           }
         }
         
   }
    .dropdown-menu,
    .list-group-item {
        background-color: $color_rochester_blue !important;
        color: $color_white;
        background-color: $color_white !important;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        box-shadow: -0.0625rem 0 0.625rem 0 rgb(0 0 0 / 7%), 0.3125rem 1.25rem 2.5rem 0 rgb(0 0 0 / 4%);
    }

    .menu-info-for-desktop .dropdown-menu  {
        min-width: 12rem !important;

        .dropdown-item{
            white-space: normal;
         }
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        color: $color_charcoal;
    }

    .title-row {
        display: block;
        background-color: $color_rochester_blue !important;
        position: relative;
        z-index: 10;
        padding: 0.5rem 0;
    }

    .header-logo {
        width: 12rem;
        padding: 0.5rem 1rem;
    }

    .search-btn-text {
        display: none;
    }

    .list-group-item-mobile {
        display: none !important;
    }

    .rounded-pill {
        display: block;
        margin-left: 0.5rem;
    }



    .btn-search {
        border: 2px solid $color_interactive_blue;
        width: 2.4rem;
        height: 2.4rem;

    &:hover {
        color: $color_white;
        background-color: $color_interactive_blue;
        border-width: 2px;
    }
}

    .button-search i {
        font-size: 1rem;
    }

    .home-menu-tertiary {
        display: block;
    }

    .list-group p {
        color: $color_black !important;
    }

    .nav-secondary-mobile {
        display: none;
    }

    .nav-secondary-desktop {
        display: block;
    }

    .navbar:not(.home-menu-tertiary) {
        margin-left: 0rem;
        margin-right: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}

@media (min-width: 1200px) {

    .social--icons {
        ul {
          li {
            a {
              font-size: 1.35rem;
              width: 45px;
              height: 45px;
            }
          }
        }
      }

    .one-column-dropdown-mega>* {
        flex: 1 1 5rem;
        -webkit-flex: 1 1 5rem;
    }

    #main-menu {
        .primary-menu-items .nav-item .nav-link {
        font-size: 1rem !important;
        padding-right: 1.3rem !important;
    }

    .primary-action-items .nav-item .nav-link {
        font-size: 0.875rem !important;
    }
}

    .btn-search {
        width: 2.8rem;
        height: 2.8rem;
    }

}

@media (min-width: 1400px) {

    #main-menu {
        margin-left: 1rem;

        .primary-action-items .nav-link {
            font-size: 13px !important;
            padding: 0 0.5rem !important;
        }

        .primary-menu-items .nav-link {
            font-size: 1rem !important;
        }
    }

    .navbar:not(.home-menu-tertiary) {
        margin-left: 1rem;
        margin-right: 2rem;
    }
    .navbar-brand {
        margin-left: 1rem;

        .header-logo {
            width: 18rem;
            padding: 0.5rem 1rem;
        }
    }
}
